<div class="edit-profile-panel">
  <%= form_for current_user, :html => {:class => "edit-profile-container"},
  url: user_registration_path, :method => "patch" do |u| %>
    <label class="bm-label">Change your password</label>
    <div class="edit-profile-data">
      <div class="log-row">
        <%= u.label :email, :class => "bm-label" %>
        <%= u.text_field :email, :class => "bm-input" %>
      </div>
      <div class="log-row">
        <%= u.label :password, :class => "bm-label" %>
        <%= u.password_field :password, :class => "bm-input" %>
      </div>
      <div class="log-row">
        <%= u.label :password_confirmation, :class => "bm-label" %>
        <%= u.password_field :password_confirmation, :class => "bm-input" %>
      </div>
      <div class="log-row">
        <%= u.label :current_password, :class => "bm-label" %>
        <%= u.password_field :current_password, :class => "bm-input" %>
      </div>
    </div>
    <div class="edit-button">
      <%= u.submit 'Save changes', :class => "bm-button" %>
    </div>
  <% end %>
</div>
