<div class="edit-profile-panel">
  <%= form_for current_user, url: user_path(current_user),
  :html => {:class => "edit-profile-container", multipart: true},
  :method => "patch" do |u| %>
    <label class="bm-label">Edit your profile</label>
    <%= image_tag(current_user.avatar.url, class: "edit-profile-img", size: "193") %>
    <%= u.file_field :avatar %>
    <div class="edit-profile-data">
      <div class="log-row">
        <%= u.label :name, :class => "bm-label" %>
        <%= u.text_field :name, :class => "bm-input" %>
      </div>
      <div class="log-row">
        <%= u.label :last_name, :class => "bm-label" %>
        <%= u.text_field :last_name, :class => "bm-input" %>
      </div>
      <div class="log-row">
        <%= u.label :date_of_birth, :class =>"bm-label" %>
        <%= u.datetime_local_field :birthday, :class => "bm-input" %>
      </div>
      <div class="log-row">
        <%= u.label :address, :class => "bm-label" %>
        <%= u.text_field :address, :class => "bm-input" %>
      </div>
      <div class="log-row">
        <%= u.label :phone_number, :class => "bm-label" %>
        <%= u.number_field :phone_number, :class => "bm-input" %>
      </div>
    </div>
    <div class="edit-button">
      <%= u.submit 'Save changes', :class => "bm-button" %>
    </div>
  <% end %>
</div>
