<%= render 'menu_bar'%>
<% if user_signed_in? %>
  <%= render_top_matches_only %>
  <% if render_top_matches_only  %>
      <div class="bm-panel" >
      <%= render 'matches/top_matches' %>
    </div>
  <% end %>
  <% if !render_top_matches_only %>
    <div class="bm-panel">
      <%= render 'matches/all_matches' %>
    </div>
  <% end %>
  <%= render 'matches/selected_matches' %>
<% else %>
  <div id="signUpMenu" hidden>
    <%= render 'log_in_form', :create => true %>
  </div>
  <div id="logInMenu">
    <%= render 'log_in_form', :create => false %>
  </div>
<% end %>
