<div class="best-five-bets">
  <h1> Best 5 bets </h1>
  <div class="best-five-content">
    <div class="best-five-header">
      <ul>
        <li><label> Local Rate </label></li>
        <li><label> Visitor Rate </label></li>
        <li><label> Tie Rate </label></li>
        <li class="double-row"><label> Match </label></li>
        <li></li>
      </ul>
    </div>
    <% @top_5_matches.each do |match| %>
      <div class="best-five-row">
        <div><span> <%= match.local_ratio %> </span></div>
        <div><span> <%= match.visitor_ratio %> </span></div>
        <div><span> <%= match.tie_ratio %> </span></div>
        <div class="double-row">
          <span> <%= match.local_team.name %> </span>
          <label> vs </label>
          <span> <%= match.visitor_team.name %> </span>
        </div>
        <div class="bet-button"> Bet </div>
      </div>
    <% end %>
  </div>
</div>
