
<div class="model-edit">
  <h3 class="bm-title"> Edit match </h3>
  <%= form_for @match do |f| %>
    <p>
      <%= f.label :local_ratio %><br>
      <%= f.number_field :local_ratio, :class => "bm-input", step: :any %>
    </p>

    <p>
      <%= f.label :visitor_ratio %><br>
      <%= f.number_field :visitor_ratio, :class => "bm-input", step: :any %>
    </p>
    <p>
      <%= f.label :tie_ratio, :class =>"bm-label" %>
      <%= f.number_field :tie_ratio, :class => "bm-input", step: :any %>
    </p>
    <p>
      <%= f.label :accepted, :class => "bm-label" %>
      <%= select("match", "accepted", [true, false], {include_blank: false}) %>
    </p>
    <p>
      <%= f.submit :class => "bm-button"%>
    </p>

  <% end %>
  <a href="/matches"> Back </a>
</div>
