<div class="model-container">
  <h3 class="bm-title"> All Matches </h3>
  <ul class="model-header-container">
    <li class="header cell-small">Time </li>
    <li class="header cell-small">Local Rate </li>
    <li class="header cell-small">Visitor Rate</li>
    <li class="header cell-tiny">Tie Ratio</li>
    <li class="header cell-small">Local Team</li>
    <li class="header cell-small">Visitor Team</li>
    <li class="header cell-tiny"></li>
  </ul>
  <% @matches.each do |match| %>
    <div class="model-row">
      <span class="cell-small"> <%= match.time.strftime("%m-%d-%Y %H:%M:%S")	 %> </span>
      <label class="cell-small"> <%= match.local_ratio %> </label>
      <label class="cell-small"> <%= match.visitor_ratio %> </label>
      <label class="cell-tiny"> <%= match.tie_ratio %> </label>
      <label class="cell-small"> <%= match.local_team_id %> </label>
      <label class="cell-small"> <%= match.visitor_team_id %> </label>
      <a class="cell-tiny"
         data-confirm="Are you sure?"
         rel="nofollow"
         data-method="delete"
         href="/matches/<%=match.id%>"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
  <% end %>
</div>
