<div class="model-container">
  <h3 class="bm-title"> All Matches </h3>
    <% @matches.each do |match| %>
      <div class="model-row">
        <label> <%= match.time %> </label>
        <label> <%= match.local_ratio %> </label>
        <label> <%= match.visitor_ratio %> </label>
        <label> <%= match.tie_ratio %> </label>
        <label> <%= match.local_team_id %> </label>
        <label> <%= match.visitor_team_id %> </label>
        <%= link_to 'Destroy', match_path(match),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>
