<div class="model-container">
  <h3 class="bm-title"> All Results </h3>
  <ul class="model-header-container">
    <li class="header cell-small">Winner </li>
    <li class="header cell-large">Match</li>
    <li class="header cell-small">Accepted</li>
  </ul>
  <% @results.each do |result| %>
    <div class="model-row" class="model-row">
      <% if result.winner == 1 %>
        <label class="cell-small"> <%= result.match.local_team.name %> </label>
      <% elsif result.winner == 2 %>
        <label class="cell-small"> <%= result.match.visitor_team.name %></label>
      <% elsif result.winner == 3 %>
        <label class="cell-small"> Tie </label>
      <% end %>
      <label class="cell-large"> <%= result.match.local_team.name %>
        <strong> vs <strong>
          <%= result.match.visitor_team.name %>
      </label>

      <% if result.accepted %>
        <div class="cell-small"><span class="glyphicon glyphicon-ok"></span></div>
      <% else %>
        <a
           data-confirm="Are you sure?"
           rel="nofollow"
           data-method="patch"
           href="/match_results/<%=result.id%>">
           Accept ?
        </a>
      <% end %>
    </div>
  <% end %>
</div>
